<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vrinda's Resume</title>
    <meta charset="UTF-8" >
    <meta name="description" content="Vrinda Bisani Resume" >
    <meta name="keywords" content="HTML, JavaScript" >
    <meta name="author" content="Vrinda Bisani" >
    <link id="stylesheet" rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <script src="/javascripts/switchMode.js"></script>

  </head>
  <body>
    <header>
      <div class="logo">
        <h1>Vrinda Bisani</h1>
      </div>
      <div>
        <a href="/" class="botton-title"> Home </a>
        <a href="experience" class="botton-title"><b> Experience </b></a>
        <a href="projects" class="botton-title"> Projects </a>
        <a href="connect" class="botton-title"> Connect </a>
        <a href="https://drive.google.com/file/d/1khoYDyO8qEPx3Pfg8xkEUnsX_OIMr5bI/view?usp=sharing" target="_blank" class="botton-title"> Resume </a>
      </div>
    </header>
    <div class="my-timeline">
      <div class="my-container left-container">
        <h5>Sep 2023 - Present</h5>
        <div class="text-box">
          <h2>Teaching Assistant</h2>
          <h4 style="line-height: 1px; ">Northeastern University</h4>
          <ul>
            <li>Conduct regular office hours, providing one-on-one or group assistance to 20 students, addressing questions, clarifying doubts,
               and facilitating a deeper understanding in various data mining topics.
            </li>
            <li>
              Successfully assisted students in building end-to-end microservices, showcasing proficiency in Streamlit, data mining techniques, and Dockerization.
            </li>
            <li>
              Contributed to enhancing students' practical skills and problem-solving abilities by guiding them through complex project implementations.
            </li>
            <li>
              Demonstrated exceptional organizational and multitasking skills while managing various responsibilities efficiently.
            </li>
          </ul>
        </div>
      </div>
      <div class="my-container right-container">
        <h5>Jun 2019 - Dec 2021</h5>
        <div class="text-box">
          <h2>Software Engineer</h2>
          <h4 style="line-height: 1px; ">Bank of America</h4>
          <ul>
            <li>Developed a reconciliation tool to test file which significantly reduced testing time and improved efficiency.
            </li>
            <li>
              Led the implementation of a Python script to generate end-of-month audit reports for transaction breaches, earning a gold award for contributions to project success.
            </li>
            <li>
              Became a subject matter expert for the linear rates team.
            </li>
            <li>
              Mentored junior developers and facilitated their integration into the team.
            </li>
            <li>
              Recognized with a gold and a silver award for outstanding performance and achievements.
            </li>
          </ul>
        </div>
      </div>
      <div class="my-container left-container">
        <h5>Jan 2019 - Jun 2019</h5>
        <div class="text-box">
          <h2>Software Developer Intern</h2>
          <h4 style="line-height: 1px; ">IBM</h4>
          <ul>
            <li>Designed and developed an automated dashboard using Rest API, Java, AngularJS and MySQL to set
              parameters in API calls, reducing testing time and minimizing errors.             
            </li>
            <li>
              Conducted extensive testing and debugging to ensure the dashboard's effectiveness.
            </li>
          </ul>
        </div>
      </div>
      <div class="timeline-line"></div>
    </div>
    <button id = "modeToggle">Switch Mode</button>
</body>
</html>