<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vrinda's Resume</title>
    <meta charset="UTF-8" >
    <meta name="description" content="Vrinda Bisani Resume" >
    <meta name="keywords" content="HTML, JavaScript" >
    <meta name="author" content="Vrinda Bisani" >
    <link id="stylesheet" rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <script src="/javascripts/switchMode.js"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>Vrinda Bisani</h1>
      </div>
      <div>
        <a href="/" class="botton-title"> Home </a>
        <a href="experience" class="botton-title"> Experience </a>
        <a href="projects" class="botton-title"><b> Projects </b></a>
        <a href="connect" class="botton-title"> Connect </a>
        <a href="https://drive.google.com/file/d/1khoYDyO8qEPx3Pfg8xkEUnsX_OIMr5bI/view?usp=sharing" target="_blank" class="botton-title"> Resume </a>
      </div>
    </header>
   
    <div class="projects">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div style="padding: 2%;">
                <h2>Budgeting App</h2>
                <h3>Redis</h3>
                <h3>Python</h3>
                <h3>Streamlit</h3>
                <h3>Docker</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h2>Budegeting App</h2>
            <p>Worked under professor's guidance to create a budgeting app with a dashboard and integrated the ChatGPT API for enhanced monthly budget optimization.</p> 
            <p>Received a Teaching Assistant position for outstanding performance.</p>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div style="padding: 2%;">
                <h2>Carbon Footprint Tracker</h2>
                <h3>Java</h3>
                <h3>RestAPI</h3>
                <h3>MongoDB</h3>
                <h3>HTML</h3>
                <h3>JavaScript</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h2>Carbon Footprint Tracker</h2>
            <p>For hackathon, developed a user-friendly platform that enabled users to track and reduce their
                carbon footprints while engaging in friendly competition with friends.
            </p> 
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div style="padding: 2%;">
                <h2>Medical Claim Fraud Detection System</h2>
                <h3>Python</h3>
                <h3>ML Models</h3>
                <h3>Streamlit</h3>
                <h3>Docker</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h2>Medical Claim Fraud Detection System</h2>
            <p>Developed and deployed a robust microservice for fraud detection system involving data cleaning and comparison of various ML models like KNNClassifier, Random Forest, Gradient Boosting. 
            <p>Achieved the accuracy of about 99%.</p>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div style="padding: 2%;">
                <h2>Chatroom Application</h2>
                <h3>Java</h3>
                <h3>JUnit</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h2>Chatroom Application</h2>
            <p>Developed a concurrent chatroom system using a thread pool.</p>
            <p>Implemented features like participant list viewing, private conversations, broadcast messaging, and a random insult generator for playful interactions.</p>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div style="padding: 2%;">
                <h2>Parking Lot Management System</h2>
                <h3>Java, JSP</h3>
                <h3>SQL</h3>
                <h3>JDBC</h3>
                <h3>HTML, CSS</h3>
                <h3>JUnit</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h2>Parking Lot Management System</h2>
            <p>Collaborated with three peers to design and develop a dynamic full-stack web application. </p>
            <p>The application provides users with instant access to the closest parking facilities and pricing information tailored to their specific car details.</p>
          </div>
        </div>
      </div>
    </div>
    <i class="fa-solid fa-sun-bright"></i>
    <button id = "modeToggle">Switch Mode</button>
  </body>
</html>